<h1>Campgrounds</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th>Description</th>
    </tr>
  </thead>

  <tbody>
    <% @camps.each do |camp| %>
      <tr>
        <td><%= link_to camp.name, camp %></td>
        <td><%= camp.full_address %></td>
        <td><%= camp.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add a campground', new_camp_path %>
