<h1>Campers Directory</h1>

<table>
  <thead>
    <tr>
      <th>Username</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td><%= link_to user.username, user %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Become a Camper', new_user_path %>
